# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
ENV/
env/

# Environment variables
.env

# IDE / editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
