body{
  background-color: rgba(19, 19, 19, 0.936);
  text-decoration: none;
}

button{
  cursor: pointer;   
}
.notes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 7em;
  margin-right: 7em;
  justify-content: flex-start;
  position: relative;
  bottom: 0.8em;
}

.scroll-container {
  width: 20.5em;
  height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #4a90e2 #f0f0f0; 
}


