{% load static%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes</title>
    <script type="module" crossorigin src="{% static "/assets/index-DG3Nv40K.js" %}"></script>
    <link rel="stylesheet" crossorigin href="{% static "/assets/index-BEnHA_mp.css" %}">
  </head>
  <body>
    <div id="root"></div>

    <script>
      var notesData = [];

       
    fetch('/api/notes/')
    .then(response => response.json())
    .then(data => {
      notesData = data; 
      window.notesData = notesData; 
    })
    .catch(error => console.error('Error fetching notes:', error));

      window.notesData = notesData;
    </script>
  </body>
</html> 
